<?xml version="1.0"?>
<ruleset name="CINQ Theme Updates">
	<description>WordPress Coding Standards for cinq-wp-theme-updates.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="8.1-"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="cinq"/>
				<element value="CINQ_WP_THEME_UPDATES"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>cinq-wp-theme-updates\.php$</exclude-pattern>
		<exclude-pattern>includes/*\.php$</exclude-pattern>
	</rule>
</ruleset>
